@import '@/styles/Main.module.scss';
.content {
	position: fixed;
	top: 4rem;
	width: 100%;
	height: calc(100% - 8rem);
	width: 100%;
	z-index: 1;
	// border: 1px solid red;
}

.content * {
	animation: fadeIn 1s ease-in-out;
}
.content_hero {
	position: absolute;
	// border: 1px solid red;
	width: 100%;
	width: calc(100% - 8rem);
	height: 100%;
	left: 4rem;
}
@media (max-width: 768px) {
	.content {
		width: 100%;
	}
	.content_hero {
		left: 0;
		width: 250%;
		height: 100%;
		transform: translateX(-33%);
	}
}
