@import '@/styles/Main.module.scss';
.content {
	width: 100%;
	height: calc(100% - 8rem);
}

.content * {
	animation: fadeIn 1s ease-in-out;
	// filter: blur(2rem);
}
.content_hero {
	width: 100%;
	height: 100%;
	// background-position: center;
	// // background-size: cover;
	// background-size: 50% 50%;
	// background-repeat: no-repeat;
}
@media (max-width: 768px) {
	.content_hero {
		width: 200%;
		height: 100%;
		transform: translateX(-25%);
	}
}
