.films,
.films_hidden {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	// border: 1px solid red;
	position: fixed;
	// padding: 2rem;
	// margin: 2rem;
	position: absolute;
}
.films_hidden * {
	transition: all 0.25s ease-in-out;
	opacity: 0;
	pointer-events: none;
}
.films_list {
	// border: 1px solid red;
	display: flex;
	// flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// border: 1px solid #000;
	height: 66%;
	width: 100%;
	// scroll-behavior: smooth;
	// scroll-snap-align: start;
	// overflow-x: scroll;
	// overflow-y: hidden;
}
@media (max-width: 768px) {
	.films_list {
		flex-direction: column;
	}
}

$height: 9rem;
$width: 16rem;
.films_list_item,
.films_list_item_selected,
.films_list_item_active {
	// border-radius: 0px;
	user-select: none;
	z-index: 10;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// padding: 1rem;
	// border: 1px solid #000;
	// width: 25vw;
	height: 9rem;
	width: 16rem;
	transition: all 0.25s ease-in-out;
	background-color: transparent;
	// overflow: hidden;
	background-color: black;
	margin: 1rem;
}
.films_list_item_selected {
	// z-index: 20;
	height: $height * 1.5;
	width: $width * 1.5;
	// transform: scale(1.2);
}
.films_list_item:nth-child(1) {
	// transform: scale(0.8);
	// margin-right: 0;
}
.films_list_item:nth-child(2) {
	// transform: scale(1);
}
.films_list_item:nth-child(3) {
	// transform: scale(1.5);
}
.films_list_item:nth-child(4) {
	// transform: scale(1);
}
.films_list_item:nth-child(5) {
	// border: 1px solid red;
	// transform: scale(0.8);
}
.films_list_item_poster {
	width: auto;
	height: 100%;
}
