$speed: 0.25s;
@import '@/styles/Main.module.scss';

.nav * {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	color: #fff;
	transition: all 0.25s ease-in-out;
}
.nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	z-index: 1;
	height: 4rem;
	cursor: default;
	// transition: all 1s ease-in-out;
	transition: all 0.25s ease-in-out;

	// border: 1px solid red;
	// animation: fadeInTop 1s ease-in-out;
}

.nav_item {
	// position: absolute;
	// top: 50%;
	// transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
	font-size: 1.25rem;
	// font-weight: 100;
	cursor: pointer;
	// border: 1px solid red;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 1rem;
	// left: 0;
	font-size: 1rem;
	// width: 10rem;
	white-space: nowrap;
	// flex: 1;
	// animation: fadeInLeft 1s ease-in-out;
}
.nav_item:first-of-type {
	// animation: fadeInLeft 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav_item:nth-child(2) {
	// animation: fadeInTop 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10rem;
}
.nav_item:last-of-type {
	// animation: fadeInRight 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav_item_text,
.nav_item_text_fadeInLeft,
.nav_item_text_fadeOutLeft,
.nav_item_text_fadeInRight,
.nav_item_text_fadeOutRight {
	// transition: all $speed ease-in-out;
	cursor: pointer;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	white-space: nowrap;
}
.nav_item_text_fadeOutLeft,
.nav_item_text_fadeOutRight {
	opacity: 0;
	font-size: 0px;
}
.nav_item_text_fadeOutLeft {
	transform: translateX(-100%);
}
.nav_item_text_fadeOutRight {
	transform: translateX(100%);
}
.nav_item_text_fadeInLeft,
.nav_item_text_fadeInRight {
	opacity: 1;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.nav {
		&:hover {
			box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
		}
	}
	.nav_item:nth-child(1) {
		margin: 0 4rem;
	}
	.nav_item:last-of-type {
		margin: 0 4rem;
	}
}
@media (max-width: 768px) {
	.nav_item:nth-child(1) {
		margin-left: 2rem;
	}
	.nav_item:last-of-type {
		margin-right: 2rem;
	}
}
