@import '@/styles/Main.module.scss';

.nav * {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	color: #fff;
	transition: all 1s ease-in-out;
}
.nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	z-index: 1;
	height: 4rem;
	cursor: default;
	transition: all 1s ease-in-out;
	animation: delayFadeIn 2s ease-in-out;
}

.nav_item {
	font-size: 1.25rem;
	// font-weight: 100;
	cursor: pointer;
	// border: 1px solid red;
	height: 100%;
	// width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	white-space: nowrap;
	// border: 1px solid red;
	width: 3rem;
	// animation: delayFadeIn 2s ease-in-out;
}
.nav_item:nth-child(3) {
	width: 3.5rem;
}
.nav_item:nth-child(2) {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10rem;
	animation: delayFadeIn 2s ease-in-out;
}
.nav_overlay {
	height: 1rem;
	width: 100%;
	position: absolute;
	top: 3rem;
	z-index: 1000;
	// border: 1px solid #fff;
	background-color: black;
	pointer-events: none;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.nav_item_text {
	animation: delayFadeIn 1s ease-in-out;
}
.nav_item_text,
.nav_item_text_fadeIn,
.nav_item_text_fadeOut {
	cursor: pointer;
	height: 100%;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	white-space: nowrap;
}
.nav_item_text_fadeOut {
	opacity: 0;
	animation: fadeOut 1s ease-in-out;
}
.nav_item_text_fadeIn {
	animation: delayFadeIn 2s ease-in-out;
	opacity: 1;
}

@media (min-width: 768px) {
	.nav {
		&:hover {
			box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
		}
	}
	.nav_item:nth-child(1) {
		margin: 0 4rem;
	}
	.nav_item:last-of-type {
		margin: 0 4rem;
	}
}
@media (max-width: 768px) {
	.nav_item:nth-child(1) {
		margin-left: 2rem;
	}
	.nav_item:last-of-type {
		margin-right: 2rem;
	}
}
