$speed: 1s;
@keyframes fadeIn {
	from {
		opacity: 0;
		// transform: scale(0);
	}
	66% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.status {
	position: fixed;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 1000;
	animation: fadeIn 3s ease-in-out;
	// border: 1px solid red;
	width: 100vw;
	align-items: center;
	padding: 0;
	z-index: 9;
	height: 60px;
	pointer-events: none;

	transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
}
.status_text {
	font-size: 12px;
	text-align: center;
	color: #000;
	margin: 0 0.5rem;
}
@media (max-width: 768px) {
	.status {
		width: 100vw;
		padding: 0;
		// height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		right: 1.25rem;
		top: 0.4rem;
	}
	.status_text {
		font-size: 12px;
		font-weight: 300 !important;
		// margin: 0;

		margin-top: 0.25rem;
		// margin-right: 1rem;
	}
}
