$speed: 1s;
$multiplier: 12;
$marqueeSpeed: $multiplier * 10s;
$width: 535px;
$baseDelay: 2000ms;

@keyframes fadeIn {
	from {
		opacity: 0;
		// transform: scale(0);
	}
	to {
		opacity: 1;
	}
}
.credits {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 10;
	animation: fadeIn 1s ease-in-out;
	// border: 1px solid red;
	width: 100%;
	align-items: center;
	padding: 0;
	z-index: 9;
	height: 4rem;
	user-select: none;
	// position: relative;
	transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
}
.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 0.75;
	font-size: 10px;
	transform: translateY(-1px);

	// border: 1px solid red;
}
.credit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// border: 1px solid red;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	// width: 50%;
	// min-width: $width;
	// max-width: $width;
	width: auto;
	// height: 100%;
	// width: 100%;
	// flex: 1;
	opacity: 1;
	// animation: marquee $marqueeSpeed linear infinite;
	white-space: nowrap;
}
.credit:nth-of-type(1) {
	left: 0;
	// opacity: 0;

	// animation: marquee $marqueeSpeed linear infinite;
}
.credit:nth-of-type(2) {
	// left: $width;
	// right: 0;
	// left: 0;
	// animation: marquee $marqueeSpeed linear infinite;
	animation-delay: $baseDelay * $multiplier;
	// left: 546px;
	// animation: marquee2 $marquee linear infinite;
	// margin-left: -4rem;
}
.credit:nth-of-type(3) {
	animation-delay: $baseDelay * 2 * $multiplier;
}
.credit:nth-of-type(4) {
	animation-delay: $baseDelay * 3 * $multiplier;
}
.credit:nth-of-type(5) {
	animation-delay: $baseDelay * 4 * $multiplier;
}
.credit_text,
.credit_text_bold {
	display: flex;
	flex-direction: row;
	font-size: 8px;
	text-align: center;
	color: #fff;
	padding: 0;
	margin: 0 0.5rem;
	// margin: 0 0.5rem;
	font-weight: 300 !important;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	line-height: 1rem;
	transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.credit_overlay {
	position: absolute;
	width: 100vw;
	height: 100%;
	z-index: 2;
	transition: all $speed cubic-bezier(0.075, 0.82, 0.165, 1);
	user-select: none;
	pointer-events: none;
	// border: 1px solid red;

	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 2%,
		rgba(0, 0, 0, 0) 25%,
		rgba(255, 0, 0, 0) 75%,

		rgba(0, 0, 0, 1) 98%
	);
}
.credit_text {
	opacity: 0.75;
}
.credit_text_bold {
	font-weight: 900 !important;
	margin-left: -0.25rem;
}

@media (max-width: 768px) {
	.credit,
	.credit_text,
	.credit_text_bold {
		line-height: 0.75rem;
	}
	.credit_text,
	.credit_text_bold {
		font-size: 6px;
	}

	.credit:nth-child(2) {
		flex-direction: column;
		margin-bottom: 0.5rem;
	}
	// .credit_overlay {
	// 	background-image: linear-gradient(
	// 		to right,
	// 		rgba(0, 0, 0, 1) 2%,
	// 		rgba(255, 0, 0, 0) 25%,
	// 		rgba(0, 0, 0, 0) 75%,

	// 		rgba(0, 0, 0, 1) 98%
	// 	);
	// }
}

@keyframes marquee {
	0% {
		// right: calc(100%);
		opacity: 0;
		transform: translateX(100vw);
		// transform: translateX(-100%);
	}
	1% {
		opacity: 1;
	}
	50% {
		// right: calc(0%);
		transform: translateX(0);
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(-100vw);
	}
}

@keyframes marquee3 {
	from {
		left: calc($width);
	}
	to {
		transform: translateX(-200vw);
	}
}
